

<div class="container">
    <h1 class="text-align-middle">Eksporter</h1>
    <h5 class="text-align-middle">Hent dit udfyldte erfaringsskema</h5>

   <div class="button-row">
<button  mat-raised-button color="primary" type="submit" ><span class="span-text">Download som pdf</span><i class="material-icons">
    description
    </i></button></div>
<div class="button-row">
<button mat-raised-button color="primary" type="submit" ><span class="span-text">Send til e-mail</span><i class="material-icons">
    email
    </i></button></div>
<div class="button-row">
<button type="submit" mat-raised-button color="primary"><span class="span-text">Print</span><i class="material-icons">
    print
    </i></button></div>

</div>