<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
        
      <a mat-list-item routerLink="/erfaring"><i class="material-icons">
          description
          </i>Erfaring</a>
      
        <a mat-list-item routerLink="/overblik"><i class="material-icons">
            poll
            </i>Overblik</a>
      
      <a mat-list-item routerLink="/eksporter"><i class="material-icons">
          save_alt
          </i>Eksporter</a>
     
      <a mat-list-item *ngIf="auth.user | async as user" (click)="logout()" routerLink="/login"> <i class="material-icons">
          exit_to_app
          </i>Log ud</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>









